@import url('https://fonts.cdnfonts.com/css/linux-libertine-o');

html {
	--header-size: 20px;
	--background: #808080;
	background: var(--background);
	font-family: 'Linux Libertine O', sans-serif;
}

html:has(.scroll) {
	overflow: hidden;
}

pre {
	tab-size: 4;
}

body {
	padding: 0;
	margin: 0;
}

#header {
	height: var(--header-size);
	padding-left: 5px;
}

#content {
	max-width: 800px;
/*	width: 100vw;*/
	height: calc(100vh - var(--header-size));
	margin: auto;
}

.pad {
	padding: 0pt 25pt;
}

object[type="application/pdf"] {
	width: 100%;
	height: 100%;
}

.noscroll {
	overflow: hidden;
}

.scroll {
	overflow: scroll;
	height: 100%;
}

ul {
	list-style-type: "∙ ";
	padding-inline-start: 20pt;
}

#content > ul {
	padding-inline-start: 0;
}

li:has(ul) {
	margin: 5pt 0;
}

.notelink {
	font-family: monospace;
}
